.inline-block {
  display: inline-block;
  background-color: #d5bdaf;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-size: 13px;
  font-family: Inter, sans-serif;
}
.header {
  background-color: #f5ebe0;
  padding: 10px;
}
.left {
  float: left;
  width: 30%;
  background-color: #d6ccc2;
  height: 500px;
}
.right {
  float: right;
  width: 70%;
  background-color: #e3d5ca;
  height: 500px;
  box-sizing: border-box;
  padding: 10px;
}
.container1 {
  text-align: center;
  padding: 5px;
}
.container2 {
  background-color: #d5bdaf;
  padding: 5px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
}
.imagePlaceholder {
  height: 200px;
  width: 200px;
  background-color: #edede9;
  padding: 5px;
}
body {
  font: normal 15px Inter, sans-serif;
}
h3 {
  font: 20px inter;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
h2 {
  font: 30px inter;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
b, strong {
  color: #3e3e3e;
}